<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cow Tracker v2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C589EAC91F81C37E00B06B4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C589EAE21F81C37F00B06B4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C589EAED1F81C37F00B06B4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
